# --------------------------------------
# Laravel defaults
# --------------------------------------
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# --------------------------------------
# IDE / Editor files
# --------------------------------------
/.idea
/.vscode
/.vs
/.vs/*
CopilotIndices/

# --------------------------------------
# Compiled / Generated assets
# --------------------------------------
/public/css
/public/js
/public/mix-manifest.json
/public/build
/public/vendor
/public/images/temp
/public/assets/vendor
/public/assets/css
/public/assets/js

# Keep main asset sources
!/public/assets/*
!/public/assets/images
!/public/assets/fonts
!/public/assets/icons

# --------------------------------------
# OS junk
# --------------------------------------
.DS_Store
Thumbs.db

# --------------------------------------
# Cache / logs
# --------------------------------------
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
